@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 3%;
    --foreground: 50 12% 90%;

    --card: 0 0% 3%; 
    --card-foreground: 50 12% 90%;

    --popover: 0 0% 3%; 
    --popover-foreground: 50 12% 90%;

    --primary: 50 12% 90%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 0 0% 11%;
    --secondary-foreground: 50 12% 90%;

    --muted: 0 0% 11%;
    --muted-foreground: 51.43 3.17% 56.67%;

    --accent: 0 0% 11%;
    --accent-foreground: 50 12% 90%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 50 12% 90%;

    --border: 0 0% 11%;
    --input: 0 0% 11%;
  }
  

  .dark {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
